<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper
PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='xdt.mapping.PmsDangerControlQuotaMapper'>

	<resultMap type="xdt.model.PmsDangerControlQuota" id="resultMap">
		<id column="id" property="id" />
		<result column="mercId" property="mercId" />
		<result column="mercName" property="mercName" />
		<result column="minQuota" property="minQuota" />
		<result column="maxQuota" property="maxQuota" />
		<result column="dayQuota" property="dayQuota" />
		<result column="monthQuota" property="monthQuota" />
		<result column="totalQuota" property="totalQuota" />
		<result column="timeQuota" property="timeQuota" />
		<result column="updateTimeQuota" property="updateTimeQuota" />
		<result column="addAgentNumber" property="addAgentNumber" />
		<result column="updateAgentNumber" property="updateAgentNumber" />
		<result column="quotaType" property="quotaType" />
		<result column="remarks" property="remarks" />
		<result column="startDate" property="startDate" />
		<result column="endDate" property="endDate" />
	</resultMap>

	<sql id="configParamSql">
		<if test="searchBean.mercId !=null  and  searchBean.mercId!=''">
			and obj.mercId  like '%'||#{searchBean.mercId}||'%'
		</if>
		<if test="searchBean.mercName !=null  and  searchBean.mercName!=''">
			and obj.mercName LIKE '%'||#{searchBean.mercName}||'%'
		</if>
		<if
			test="searchBean.startDate !=null  and  searchBean.startDate!='' and searchBean.endDate !=null  and  searchBean.endDate!=''">
			and substr(obj.timeQuota,0,10) between
			#{searchBean.startDate} and #{searchBean.endDate}
		</if>
		<if test="searchBean.quotaType !=null  and  searchBean.quotaType!=''">
			and obj.quotaType=#{searchBean.quotaType}
		</if>
	</sql>
	

	 <select id="selectList" resultMap="resultMap" parameterType="xdt.model.PmsDangerControlQuota">
		select * from pms_danger_control_quota
		<where>
			<if test="mercId !=null  and  mercId !=''">
				and mercId=#{mercId}
			</if>
			<!-- <if test="mercName !=null  and  mercName !=''">
				and mercName=#{mercName}
			</if>
			<if test="quotaType !=null  and  quotaType !=''">
				and quotaType=#{quotaType}
			</if> -->
		</where>
	</select>

	<insert id="save" parameterType="xdt.model.PmsDangerControlQuota">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="BEFORE">
			select seq_pms_danger_ccontrol_quota.NEXTVAL from dual
		</selectKey>
		<![CDATA[insert into pms_danger_control_quota(mercId,mercName,minQuota,maxQuota,dayQuota,monthQuota,totalQuota,timeQuota,updateTimeQuota,addAgentNumber,updateAgentNumber,quotaType,remarks)
		values(trim(#{mercId,jdbcType=VARCHAR}),trim(#{mercName,jdbcType=VARCHAR}),trim(#{minQuota,jdbcType=VARCHAR}),trim(#{maxQuota,jdbcType=VARCHAR}),trim(#{dayQuota,jdbcType=INTEGER}),trim(#{monthQuota,jdbcType=VARCHAR}),trim(#{totalQuota,jdbcType=VARCHAR}),trim(#{timeQuota,jdbcType=VARCHAR}),trim(#{updateTimeQuota,jdbcType=VARCHAR}),trim(#{addAgentNumber,jdbcType=VARCHAR}),trim(#{updateAgentNumber,jdbcType=VARCHAR}),trim(#{quotaType,jdbcType=VARCHAR}),trim(#{remarks,jdbcType=VARCHAR}))]]>
	</insert>


	<delete id="delete" parameterType="java.lang.Integer">
		delete from pms_danger_control_quota
		where id=#{id}
	</delete>

	<update id='update' parameterType='xdt.model.PmsDangerControlQuota'>
		update pms_danger_control_quota set
		mercName =
		#{mercName,jdbcType=VARCHAR},
		minQuota =
		#{minQuota,jdbcType=VARCHAR},
		maxQuota =
		#{maxQuota,jdbcType=VARCHAR},
		dayQuota =
		#{dayQuota,jdbcType=VARCHAR},
		monthQuota =
		#{monthQuota,jdbcType=VARCHAR},
		totalQuota =
		#{totalQuota,jdbcType=VARCHAR},
		timeQuota =
		#{timeQuota,jdbcType=VARCHAR},
		updateTimeQuota =
		#{updateTimeQuota,jdbcType=VARCHAR},
		addAgentNumber =
		#{addAgentNumber,jdbcType=VARCHAR},
		updateAgentNumber =
		#{updateAgentNumber,jdbcType=VARCHAR},
		quotaType =
		#{quotaType,jdbcType=VARCHAR},
		remarks =
		#{remarks,jdbcType=VARCHAR}
		where mercId=#{mercId,jdbcType=INTEGER}
	</update>

	
</mapper>

